.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
  }
  
  /* .search-bar {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  } */

  .add-categ-button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #1ccf2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .add-widget-button {
    left: 0;   
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  